@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body background-image:src="Photos/Photo1.jpg">
    <div class="text-center">
        <h4 class="display-4">Welcome</h4>
        <p>Muscle World Gym Member Management System</p>
        
    </div>
</body>
