@page
@model MuscleWorld.Pages.UserListModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>All Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                User Name
                <!--@Html.DisplayNameFor(model => model.User[0].UserName)-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a asp-page="./UserList_Roles" asp-route-id="@item.Id">Add To User Role</a>
            </td>
            <td>
                <a asp-page=./UserList_RemoveRole asp-route-id="@item.Id">Remove User Role</a>
            </td>
        </tr>
}
    </tbody>
</table>